html {
    /*background-image: linear-gradient(blue, white);*/
    background-image: url(library.jpg);
    background-attachment: fixed;
    margin: auto;
    
}
body {

    background-image: linear-gradient(blue, lightblue);
    border: 2px solid black;
    border-radius:10px;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 10px;
    opacity: 0.9;
}
